*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:linear-gradient(135deg,#f3e8ff,#e9d5ff);
}

.calculator{
    background:white;
    padding:25px;
    border-radius:30px;
    box-shadow:0 15px 40px rgba(168,85,247,0.25);
}

#display{
    width:100%;
    height:80px;
    border:none;
    outline:none;
    background:#f8f5ff;
    border-radius:20px;
    margin-bottom:20px;
    padding:20px;
    text-align:right;
    font-size:32px;
    color:#5b21b6;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,80px);
    gap:12px;
}

button{
    height:70px;
    border:none;
    border-radius:18px;
    font-size:22px;
    cursor:pointer;
    background:#ede9fe;
    color:#6b21a8;
    transition:0.2s;
}

button:hover{
    transform:translateY(-2px);
    background:#ddd6fe;
}

.operator{
    background:#c084fc;
    color:white;
}

.operator:hover{
    background:#a855f7;
}

.equal{
    background:#7e22ce;
    color:white;
    grid-row:span 2;
    height:152px;
}

.equal:hover{
    background:#6b21a8;
}

.zero{
    grid-column:span 2;
}